*{
  margin: 0;
  padding: 0;
  background-color: #091b24;
  color: white;
  overflow-x: hidden;
}

#button{
  padding: 10px;
  border: none;
  font-size: medium;
  background-color: cadetblue;
  border-radius: 20px;
}